<div class=row>
  <div class=col>
      <div class="row pt-2">
        <div class=col>
            <button class="btn btn-primary" type="submit" (click)="loadOpenRequests()">List Open Requests</button>
        </div>
      </div>

      <div class="row pt-2" *ngIf="displayRequests == true">
          <div class=col>
            <ul class="pl-3 mb-0">
              <li class="mr-3 modal-label" *ngFor="let pullRequest of pullRequests">{{ pullRequest.num }} - {{ pullRequest.title }}</li></ul>
              <div *ngIf="pullRequests.length == 0">
                  No Open Requests found.
                </div>
              </div>
        </div>
    </div>
</div>